*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --main_color:#4da580;
    --dark_blue:#1e3547;
    --sky_blue:#e8f1f0;
    --main_blue:#005cb9;
    --valo:#882a91;
    --black:#181616;
    --red:#e31d1a;
}

.wh-btn{
    background-color: white;
    border: 1px solid var(--main_color);
    color: var(--main_color);
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 19px;
    transition: .2s;
}
.wh-btn:hover{
    background-color: var(--main_color);
    color: white;
    -webkit-box-shadow: 0 20px 40px -10px #60CC9E;
    box-shadow: 0 20px 40px -10px #60CC9E;
}
.gr-btn{
    background-color: var(--main_color);
    border: 1px solid var(--main_color);
    color: var(--sky_blue);
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 19px;
    transition: .2s;
}
.gr-btn:hover{
    background-color:white;
    color: var(--main_color);
    -webkit-box-shadow: 0 30px 51px -10px #6FEDB8;
box-shadow: 0 30px 51px -10px #6FEDB8;
}
.ts-btn{
    background-color: transparent;
}
nav{
    margin-top: 20px;
}
.navbar-brand{
    margin-right: 120px;
}
.nav-item{
    margin-top: 9px;
}
.nav-link{
    font-weight: 900;
    font-size: 14px;
    color: var(--dark_blue) !important;
}
h1{
    color: var(--dark_blue);
}
.header{
    border-top: 5px solid var(--main_color);
}
.hero_img {
    width: 100%;
}
.hero_img img{
    width: 100%;
}

/* ----- hero ------- */
.hero{
    margin-top: 80px;
    margin-bottom: 150px;
}
.hero h1{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 24px;
    
}
.hero p{
    font-size: 21px;
}
/* ----- mentor ------- */
.mentor{
    text-align: center;
    background-color: var(--sky_blue);
    padding-top: 130px;
    padding-bottom: 100px;
}
.mentor h1{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 40px;
}
.mentor p{
    font-size: 26px;
    margin-bottom: 120px;
}
.men_box {
    text-align: left;
    background-color: #F5FAFA;
    color: #707070;
    padding: 100px 100px 50px 100px;
    margin: 0px 200px;
    border-radius: 25px;
    margin-bottom: 50px;
}
.mentor h3{ 
    font-size: 30px;
    color: #1E3547;
    margin-bottom: 20px
}
.men_box p{
    margin-bottom: 40px;
    font-size: 20px;
    text-align: justify;
}



/* promo */
.not_sure{
    
    padding-top: 100px;
    padding-bottom: 100px;
}
.not_sure h1{
    font-weight: 900;
}
.not_sure .para{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 23px;
}
.not_sure .big_box{
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 40px;
    
}
.not_sure .bb_text{
    margin-left: 30px;
    font-size: 18px;
}
.not_sure .bb_text h5{
    font-size: 23px;
    margin-bottom: 20px;
}
.not_sure .bb_img img{
    border-radius: 28px;
    -webkit-box-shadow: 0 0 30px -10px #B8B8B8;
box-shadow: 0 0 30px -10px #B8B8B8;
}




/* -----------footer------------ */
.footer{
    background-image: url(../img/footer_back.png) ;
    background-size: cover;
    color: #ffffff;
    padding-top:125px ;
}
.footer p{
    margin-top: 32px;
    font-size: 18px;
}
.footer h5{
    font-weight: 900;
}

.footer .footer_nav a{
    display: block;
    text-decoration: none;
    color: #bfbfbb;
    font-size: 18px;
    margin-top: 7px;
}
.footer .footer_nav a:hover{
    color: #ffffff;
}
.footer .footer_links{
    margin-top: 20px;
}
.footer .footer_touch i {
	background-color: #ffffff;
	color: var(--dark_blue);
	font-size: 20px;
	padding: 15px 16px;
	width: 50px;
	border-radius: 50%;
	margin: 20px 6px;
}
.footer .footer_touch i:hover{
    background-color: var(--main_color);
    -webkit-box-shadow: 0 20px 40px -10px #60CC9E;
    box-shadow: 0 20px 40px -10px #60CC9E;
}
.footer .footer_copy {
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 30px;
	margin-top: 75px;
}
.bg_none{
    background-color: transparent !important;
    color: #fff !important;
}
.bg_none:hover{
    box-shadow: unset !important;
}
.footer_touch h3{
    font-size: 17px;
}









@media (max-width:992px) {
    .men_box {
	margin: 0;
	margin-bottom: 50px;
}
    .footer {
        text-align: center;
    }
    br{
        display: none;
    }
}
@media (max-width:768px) {
    
    .footer .col-md-4:nth-child(2){
        text-align: center;
    }
    /* footer */
    .footer{
    text-align: center;
    }
    .footer_nav{
    margin-top: 25px;
    margin-bottom: 20px;
    }
    
}

@media (max-width:576px) {
    .big_box{
        display: block !important;
    }
    .bb_img {
        margin-bottom: 30px;
        text-align: center;
    }
    .bb_text{
        text-align: center;
    }
    .men_box {
        padding: 50px;
    }
/* footer */
.footer{
    text-align: center;
}
.footer_nav{
    margin-top: 25px;
    margin-bottom: 20px;
}

}