*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 1.6rem;
}
h5{
    font-size: 2rem;
}
::placeholder{
    font-size: 1.6rem;
}

:root{
    --main_color:#4da580;
    --dark_blue:#1e3547;
    --sky_blue:#e8f1f0;
    --main_blue:#005cb9;
    --valo:#882a91;
    --black:#181616;
    --red:#e31d1a;
}

.wh-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 1.9rem;
    transition: .2s;
}
.wh-btn:hover{
    background-color: #ffffff;
    color: var(--main_color) ;
    -webkit-box-shadow: 0 20px 40px -10px #60CC9E;
    box-shadow: 0 20px 40px -10px #60CC9E;
}
.wh-btn-1{
    background-color: white;
    border: 1px solid var(--main_color);
    color: var(--main_color);
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 1.9rem;
    transition: .2s;
}
.wh-btn-1:hover{
    background-color: var(--main_color);
    color: white;
    -webkit-box-shadow: 0 20px 40px -10px #60CC9E;
    box-shadow: 0 20px 40px -10px #60CC9E;
}
.gr-btn{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: var(--main_color);
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 1.9rem;
    transition: .2s;
}
.gr-btn:hover{
    background-color:transparent;
    color: #ffffff;
    -webkit-box-shadow: 0 30px 51px -10px #6FEDB8;
box-shadow: 0 30px 51px -10px #6FEDB8;
}
.gr-btn-1{
    background-color: #4da580;
    border: 1px solid #4da580;
    color: #ffffff;
    border-radius: 25px;
    padding: 7px 40px ;
    margin: 0px 10px 0px 10px;
    font-weight: 700;
    font-size: 1.9rem;
    transition: .2s;
}
.gr-btn-1:hover{
    background-color:transparent;
    color: #4da580;
    -webkit-box-shadow: 0 30px 51px -10px #6FEDB8;
box-shadow: 0 30px 51px -10px #6FEDB8;
}
/* ------------- header ------------ */
body{
    background-image: url(../img/signup.png);
    background-repeat: no-repeat;
    background-position: top left;

}
input {
    font-size: 1.6rem;
}
.last_p{
    text-transform: none !important;
    margin-top: 60px;
    text-align: center;
    color: #707070;
}
.header{
    margin: 50px;
    text-align: end;
}
.header label{
    font-size: 1.4rem;
}
.signup h1{
    font-weight: 900;
    font-size: 5rem;
    color: var(--dark_blue);
    margin-bottom: 20px;
}
.signup p{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #707070;
    margin: 25px 5px 10px 5px;
}
.signup input{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    background-color: var(--sky_blue);
    border: none;
}
.signup h5{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 1.8rem;
    width: 85%;
}
.signup a{
    font-weight: 700;
    color: var(--main_color);
}

.signup button{
    width: 100%;
    margin: 0;
}

























/* responsive */
@media (max-width:1399.98px) {
    .head_img img {
        left: -158px;
        top: 59px;
    }
    .dot_pic{
        display: none;
    }
    body{
        background: none;
    }
}

@media (max-width:1199.98px) {
    
    .head_img img { 
        left: -45px;
        top: 166px;
    }
    
    body{
        background: none;
    }
}





@media (max-width:991.98px) {
    html{
        font-size: 55%;
    }
    body{
        background: none;
    }
    .footer {
        text-align: center;
    }
    .header .col-lg-6:nth-child(1){
        display: none;
    }
    .dot_pic{
        display: none;
    }

}
@media (max-width:768px)  {
    html{
        font-size: 50%;
    }
    body{
        background: none;
    }
    .hero p {
        
        padding: 0px 100px 0px 100px;
    }
    .footer .col-md-4:nth-child(2){
        text-align: center;
    }
    /* footer */
    .footer{
    text-align: center;
    }
    .footer_nav{
    margin-top: 25px;
    margin-bottom: 20px;
    }
    .como1{
    display: none;
    }
    .dot_pic{
        display: none;
    }
}

@media (max-width:576px) {
html{
    font-size: 50%;
}
.dot_pic{
    display: none;
}
body{
    background: none;
}

/* footer */
.footer{
    text-align: center;
}
.footer_nav{
    margin-top: 25px;
    margin-bottom: 20px;
}

}